<h1>{{name}} / {{source}}</h1>

<dl>
  <dt>Url</dt>
  <dd>{{url}}</dd>

  <dt>Provider</dt>
  <dd>{{providerName}}</dd>

  <dt>Description</dt>
  <dd>{{description}}</dd>
</dl>

<p>
  Updated at: {{updatedAt}}
  <br>
  Created at: {{createdAt}}
</p>